# ignore ALL files in ANY directory named temp
temp/
_personal/
# ignore ALL files with the following extension
*.log
*.env
*.ini
*.csv
*.txt
# ignore ALL files within any python virtual environment
venv/
.venv/
##### specific patterns to be updated here 
__pycache__/
.vscode
env_settings.py
